  <div class="project">
    <div class="last_commits">
    <h4>Edit My Account</h4>

    <% form_for @user, :url => account_path do |f| %>
      <%= f.error_messages %>
      <%= render :partial => "form", :object => f %>
      <%= f.submit "Update" %>
    <% end %>

    <br /><%= link_to "My Profile", account_path %>

    </div>
  </div>
