    <div class="bugs">
      <div class="mask"></div>
      <div class="active_bugs">
        <ul class="bugs">
          <lh>Active Bugs</lh>
          <li class="bug"><a href="" >#234</a> by thom</li>
          <li class="bug"><a href="" >#254</a> by thom</li>
          <li class="bug"><a href="" >#143</a> by thom</li>
          <li class="bug"><a href="" >#22</a> by thom</li>
        </ul>
      </div>
      <div class="resolved_bugs">
        <ul class="bugs">
          <lh>Resolved Bugs</lh>
          <li class="bug"><a href="" >#234</a> by thom @ <a href="">9a7b6d...1da7a8</a></li>
          <li class="bug"><a href="" >#254</a> by thom @ <a href="">9a7b6d...1da7a8</a></li>
          <li class="bug"><a href="" >#143</a> by thom @ <a href="">9a7b6d...1da7a8</a></li>
          <li class="bug"><a href="" >#22</a> by thom @ <a href="">9a7b6d...1da7a8</a></li>
        </ul>
      </div>
    </div>
