    <div class="bugs">
      <div class="mask"></div>
      <% if (session[:repository_id]) %>
        <% active_repo = Repository.find(session[:repository_id]) %>
      <div class="active_bugs">
        <ul class="bugs">
          <lh>Bugs</lh>
          <% active_repo.bugs.last(30).each do |e| %>
            <% if e.state == "fixed" %>
              <li class="fix">
            <% else %>
              <li class="bug">
            <% end %>
            <a href="/bugs/show/<%= e.id %>">#<%= e.local_id %></a> by <%= e.author.login %></li>
          <% end %>
        </ul>
      <% end %>
      </div>
      <div class="clear"></div>
    </div>
