
  <div class="project">

    <div class="last_commits">
      <h3>Projects</h3>

      <% @projects.each do |p| %>
        <div class="commit">
          <div class="project_pix"></div>
          <h4><a href="/projects/get/<%= p.id %>"><%= p.name %></a></h4>
          <p></p>
        </div>
      <% end %>

    </div>
    <div class="clear"></div>
  
  </div>
